html {
    font-family: 'helvetica neue', 'arial', sans-serif;
    font-weight: bold;
    padding-top: 3vw;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    background: #5d79e0;
    overflow: scroll;
}

h2 {
    padding-top: 1vw;
    font-size: 8vw;
}

#fileUploadForm {
    position: relative;
    display: inline-block;
}

#fileSelect {
    display: block;
    padding: 2vw 2.5vw;
    color: #fff;
    background: #222;
    border-radius: 0.5em;
    transition: background 0.3s;
    margin-bottom: 3.5vw;
    font-size: 3vw;
    font-weight: bold;
    width: 70vw
}

#addTag {
    display: block;
    padding: 2vw 2.5vw;
    color: #222;
    background: #fff;
    border-radius: 0.5em;
    transition: background 0.3s;
    margin-bottom: 3.5vw;
    font-size: 3vw;
    font-weight: bold;
    width: 70vw
}

#fileSelect:hover {
    background: #000;
}

#btnSubmit {
    padding: 2vw 10vw;
    color: #222;
    background: #fff;
    border-radius: 0.5em;
    font-size: 3vw;
    font-weight: bold;
}

#btnSubmit:hover {
    background: rgba(205, 197, 193, 0.726);
}

#hint {
    display: block;
    margin-bottom: 0.5vw;
    margin-left: -27vw;
    font-size: 3vw;
}

#tag_message {
    display: block;
    margin-bottom: 0.5vw;
    margin-left: -10vw;
    font-size: 3vw;
    color: chartreuse;
}


table,
table tr th,
table tr td {
    border: 1px solid #000;
    font-size: 2.5vw;
}

table {
    min-height: 4vw;
    line-height: 4vw;
    text-align: center;
    border-collapse: collapse;
    padding: 2px;
    margin: auto;
    margin-top: 3.5vw;
    background: #fff;
    width: 95vw;
}